@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: roboto;
}


#box-page{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

header{
    width: 100%;
    height: 100px;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#logo{
    width: 80px;
    height: 80px;
    background-image: url(../images/logo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#box-pesquisa{
    display: flex;
    width: 300px;
    height: 25px;
    background-color: white;
    border-radius: 4px;
}

input{
    width: 250px;
    height: 25px;
    border: none;
    padding-left: 10px;
    border-radius: 4px;
}

#box-pesquisa:hover{
    border: 2px solid rgb(138, 138, 135);
}

#lupa-icon{
    width: 50px;
    height: 25px;
    border-radius: 4px;
    background-image: url(../images/lupa.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}



nav {
    display: flex;
    gap: 20px;
}

nav a{
    text-decoration: none;
    color: white;
}

/* form */

main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

form {
    width: 350px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0.445);
    border-radius: 4px;
}

fieldset{
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    gap: 25px;
    color: white;
    border: none;
}

div input{
    display: flex;
}

h2,p{
    text-align: center;
}

#style-continuar{
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 4px;
    background-color: rgba(175, 175, 174, 0.74);
}

#box-adicionais{
    width: 350px;
    color: rgba(255, 255, 255, 0.719);
}

#box-adicionais h4{
    margin-bottom: 10px;
}

#sub-box{
    width: 350px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 20px;
}

#sub-box a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

div input:focus{
    outline: 2px solid green;
}